{{ template "base" . }}

{{ define "title" }}Sweet Ops - Categorias{{ end }}

{{ define "content" }}
<div x-data="categoriesPage()" x-init="fetchCategories()">
    <div style="margin-top: 40px;">
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light teal" @click="openModal()">
                    <i class="material-icons left">add</i>Nova Categoria
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            {{ template "categories-table" . }}
        </div>
    </div>

    {{ template "categories-modal" . }}
</div>

{{ end }}