{{ define "productions-modal" }}
<div id="productionModal" class="modal">
    <div class="modal-content">
        <h4>Registrar Produção</h4>
        <form @submit.prevent="submit">
            <div class="input-field">
                <i class="material-icons prefix">inventory_2</i>
                <input id="product_search" type="text" x-model="productSearch" @input="filterProducts()"
                    @focus="showDropdown = true" @blur="setTimeout(() => showDropdown = false, 200)" autocomplete="off"
                    required />
                <label for="product_search">Produto</label>
                <div x-show="showDropdown && filteredProducts.length > 0"
                    class="product-dropdown collection autocomplete-dropdown">
                    <template x-for="product in filteredProducts" :key="product.id">
                        <div @mousedown="selectProduct(product)" class="product-item collection-item autocomplete-item"
                            x-text="product.category.name + ' ' + product.flavor">
                        </div>
                    </template>
                </div>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">add_circle</i>
                <input id="production_quantity" type="number" min="1" step="1" x-model.number="quantity" required />
                <label for="production_quantity">Quantidade Produzida</label>
            </div>
            <div x-show="errorMessage" class="card-panel red lighten-4 red-text text-darken-4 error-message"
                x-text="errorMessage"></div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <button type="submit" class="btn waves-effect waves-light teal" @click="submit()" :disabled="loading">
            <span x-show="!loading">Salvar</span>
            <span x-show="loading">
                <i class="material-icons left">hourglass_empty</i>
                Salvando…
            </span>
        </button>
    </div>
</div>
{{ end }}