{{ define "products-modal" }}
<div id="productModal" class="modal">
    <div class="modal-content">
        <h4>Novo Produto</h4>
        <form @submit.prevent="submit">
            <div class="input-field">
                <i class="material-icons prefix">category</i>
                <input id="category_search" type="text" x-model="categorySearch" @input="filterCategories()"
                    @focus="showDropdown = true" @blur="setTimeout(() => showDropdown = false, 200)" autocomplete="off"
                    required />
                <label for="category_search">Categoria</label>
                <div x-show="showDropdown && filteredCategories.length > 0"
                    class="category-dropdown collection autocomplete-dropdown">
                    <template x-for="category in filteredCategories" :key="category.id">
                        <div @mousedown="selectCategory(category)"
                            class="category-item collection-item autocomplete-item" x-text="category.name">
                        </div>
                    </template>
                </div>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">text_fields</i>
                <input id="product_flavor" type="text" x-model="flavor" required />
                <label for="product_flavor">Sabor</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">attach_money</i>
                <input id="product_production_price" type="number" step="0.01" x-model="productionPrice" required />
                <label for="product_production_price">Preço de Produção</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">monetization_on</i>
                <input id="product_selling_price" type="number" step="0.01" x-model="sellingPrice" required />
                <label for="product_selling_price">Preço de Venda</label>
            </div>
            <div x-show="errorMessage" class="card-panel red lighten-4 red-text text-darken-4 error-message"
                x-text="errorMessage"></div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <button type="submit" class="btn waves-effect waves-light teal" @click="submit()" :disabled="loading">
            <span x-show="!loading">Salvar</span>
            <span x-show="loading">
                <i class="material-icons left">hourglass_empty</i>
                Salvando…
            </span>
        </button>
    </div>
</div>
{{ end }}